@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.titulos{
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}

.form-control{
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #007660;
}
.container-consulta{
    margin-bottom: 2em;
}

.inputCaso{
    position: relative;
    flex: 1 1 auto;
    width: 90%;
    min-width: 0;
}

.btnCaso{
    cursor: pointer;
    width: 98%;
    margin-top: 1em;
    color: #0a4d91;
    background-color: #FFDD00;
    border-color: #FFDD00;
}

.btnCaso:hover{
    cursor: pointer;
    width: 98%;
    margin-top: 1em;
    background-color: #eece00;
    border-color: #eece00;
}

.card {
    max-width: 15rem;
    color: #33279eda;
    padding: 1.5rem;
    background-color: #eece00;
    pointer-events: auto;
    transform: scale(1);
    opacity: 1;
    transition: all 150ms ease-in-out;
    display: flex;
    flex-direction: column;
  }
   .card .card-title {
    position: relative;
  }
 .card .card-title::before {
    content: "";
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    box-shadow: inset 0 0 3px #16228b;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: -2rem;
  }
  .card .status {
    color: #16228b;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
  }
  .card .description {
    font-size: 0.9rem;
  }
.card:nth-child(even) {
    transform: translateY(8px);
  }
.card:nth-child(n) {
    transform: rotate(-5deg);
  }
  
.card:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px rgba(34, 22, 138, 0.5);
    z-index: 10;
  }
  
.card:not(:hover) {
    opacity: 0.5;
  }