<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta - Mesa de servicio</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="container-consulta">
            <div class="logo"><img src="/logo_ExcelCredit.png" alt="ExcelCredit"></div>
            <form class="form" method="post" action="/consulta">
                <div class="container-form">
                    <input class="inputCaso form-control" type="text" name="txtCaso" id="txtCaso" placeholder="123456">
                    <button class="btnCaso form-control" type="submit" id="btnCaso">Consultar</button>
                </div>
            </form>
        </div>
        <div class="card card-four">
            <h1 class="card-title"> <%= caso %> </h1>
            <p class="titulos">Estado del caso</p>
            <h1 class="status"> <%= estado %> </h1>
            <p class="titulos">Responsable</p>
            <h1 class="description"> <%= asignado %> </h1>
            <p class="titulos">Resumen</p>
            <h1 class="description"> <%= resumen %> </h1>
            <p class="titulos">Ultimo Comentario</p>
            <h1 class="description"> <%= ultimoComentario %> </h1>
        </div>
    </div>

</body>
</html>